.chart{
  flex: 3;
  padding: 10px;
  color: gray;
  box-shadow: 1px -1px 7px 4px rgb(58 58 58 / 15%);
  -webkit-box-shadow: 1px -1px 7px 4px rgb(58 58 58 / 15%);
  -moz-box-shadow: 1px -1px 7px 4px rgb(58 58 58 / 15%);
  border-radius: 10px;

  .title{
    margin-bottom: 40px;
  }
  .chartGrid{
    stroke: rgb(222, 221, 221);
  }
}